/* //general */

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

body {
  height: 100vh;
  font-family: monospace;
  display: grid;
  grid-template: minmax(0, 1fr) minmax(0, 4fr) / 1fr 5fr;
}

ul {
  list-style: none;
}

svg {
  height: 1em;
  font-size: inherit;
  margin-right: 5px;
  color: white;
  vertical-align: -0.125em;
}

a {
  all: unset;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
/* //nav */

nav {
  grid-row: 1 / 3;
  background-color: rgb(78, 189, 253);
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 50px;
}

nav > *:hover {
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

nav li {
  font-size: 1.2rem;
}

nav li:hover {
  font-size: 1.5rem;
}

/* //header */

header {
  display: grid;
  grid-template: minmax(0, 1fr) minmax(0, 1fr) / 2fr 1fr;
}

header > * {
  padding: 20px;
  display: flex;
  align-items: center;
  max-height: 100%;
}

header > :nth-child(even) {
  justify-content: end;
}

header label {
  font-size: 2rem;
}

input {
  width: 100%;
  outline: none;
  border-radius: 20px;
  border: none;
  background-color: rgb(230, 230, 230);
  padding-left: 10px;
  height: 30px;
}

header ul {
  gap: 10px;
}

header li {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: end;
}

header .avatar {
  height: 100%;
  border-radius: 50%;
}

.greeting {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.greeted-user {
  font-size: 1.5rem;
  font-weight: bold;
}

header > :nth-child(4) li {
  background-color: rgb(78, 189, 253);
  flex: 1;
  justify-content: center;
  border-radius: 20px;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
}

/* //main */

main {
  background-color: rgb(230, 230, 230);
  display: flex;
  padding: 20px;
}

main > section {
  flex: 3;
}

.projects {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  height: 100%;
  gap: 20px;
  padding: 20px 0;
}

.project {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  height: 100%;
  border-radius: 10px;
  border-left: 10px solid rgb(250, 199, 58);
  min-width: 0;
}

.project p {
  overflow: hidden;
}

.project-icons {
  display: flex;
  align-self: flex-end;
  margin-top: auto;
}

.project-icons svg {
  height: 30px;
}

aside {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.announcements {
  flex: 1;
}

.trending {
  flex: 1;
}
